<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Genus" value ="Cheetah"/>
    <add key="Lion" value="Data Source=.\MSSQLSERVERR2; User Id=sa; Password=iscalable@2011; MultipleActiveResultSets=True"/>
    <add key="SourceProvider" value="OleDb"/>
    <add key="DataPath" value="Data"/>
  </appSettings>
</configuration>